{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary py-5 mb-5 hero-header" style="height: 635px;">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Find Your Perfect Gym</h1>
                    <p class="fs-4 text-white mb-4 animated slideInDown">Explore, Book, and Experience the Best Fitness Centers Near You.</p>
                    <div class="position-relative w-75 mx-auto animated slideInDown">
                        <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Search for ...">
                        <a href="findgym.html" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Featured Gyms</h6>
                <h1 class="mb-5">Find Your Ideal Fitness Center</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for gym in gyms %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        {% if gym.img %}
                                        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ gym.img }}&key=YOUR_GOOGLE_MAPS_API_KEY" class="img-fluid rounded-start card-img-fill" alt="{{gym.name}}">
                                        {% else %}
                                        <img class="img-fluid rounded-start card-img-fill" src="{% static 'img/gym-3.jpg' %}" alt="{{gym.name}}">
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">{{ gym.name }}</h3>
                            <div class="mb-3">
                                {{ gym.rating_stars|safe }} <!-- Use safe filter to render HTML content -->
                            </div>
                            <p>{{ gym.description }}</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="find-gym.html" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Explore</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Featured Gyms End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/bg-hero.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-primary">Gym Locator</span></h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
</div>
<script>  
    var locationRetrieved = {% if locationRetrieved %}true{% else %}false{% endif %};
    
    function getLocation() {
    if (locationRetrieved === false) {
        locationRetrieved = true;
        
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        }  
    }
    }
    
    function showPosition(position) {
    var lat = position.coords.latitude;  
    var lng = position.coords.longitude;  
    
    window.location.href = "?lat=" + lat + "&lng=" + lng + "&retrieved=true";
    }
    
    getLocation();
    </script>
    <script>
        function showDirections(name, address) {
          var url = "https://www.google.com/maps/dir/?api=1&destination=" + name + "+" + address;   
          window.open(url, "_blank");   
        }  
        </script>
{% endblock content %}